/* #요소 가운데 정렬 */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* 내부 요소 가운데 정렬 */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
